{% extends 'pharmapp/base.html' %}
{% block content %}
<!DOCTYPE html>
<html>

<head>
    <title>Daily Sales</title>
</head>

<body>
    <div class="col-md-6 offset-md-3">
        <h1 class="col-md-6 offset-md-3">Daily Sales</h1>
        <table class="table table-striped table-hover table-bordered">
            <thead class="table-primary">
                <tr>
                    <th scope="col">Day</th>
                    <th scope="col">Total Sales</th>
                </tr>
            </thead>
            {% for sale in daily_sales %}
            <tbody>
                <tr>
                    <td>{{ sale.day }}</td>
                    <td>{{ sale.total_sales }}</td>
                </tr>
            </tbody>
            {% endfor %}
        </table>
        <div class="col-md-6 offset-md-2"><a class="btn form-control btn-secondary" href="{% url 'sales' %}">Back to
                Sales</a></div>
    </div>
</body>

</html>
{% endblock %}